stages:
  - name: build ios
    if: branch IN (master, staging, tools/travis-ci)
  - name: build android
    if: branch IN (tools/travis-ci_android2)
  - name: test android env
    if: branch IN (tools/travis-ci_android)

jobs:
  include:
    - stage: build ios
      os: osx
      osx_image: xcode9.3
      language: node_js
      node_js:
        - 8.14.1
      env:
        - app_ios_prod=$(tmp="MobileApp.app_"$TRAVIS_JOB_NUMBER"_"$TRAVIS_BRANCH"_prod.zip" && tmp=${tmp//\//-} && echo $tmp)
        - app_ios_staging=$(tmp="MobileApp.app_"$TRAVIS_JOB_NUMBER"_"$TRAVIS_BRANCH"_staging.zip" && tmp=${tmp//\//-} && echo $tmp)
        - dir1=$(tmp1=$TRAVIS_BRANCH && tmp1=${tmp1//\//-} && tmp=$var3"/"$tmp1"/"$TRAVIS_BUILD_NUMBER && echo $tmp)
        - dir2=$dir1/logs_ios
        - core_sim_log=$HOME/Library/Logs/CoreSimulator/CoreSimulator.log
        - msg=$(cat $TRAVIS_BUILD_DIR/.git/COMMIT_EDITMSG)
      before_install:
        - echo -n "Starting " > info.txt
        - date >> info.txt
        - date
        - ./scripts/travis_version.rb "src/version.js" "$TRAVIS_JOB_NUMBER" "$TRAVIS_BRANCH"
        - cat src/version.js
        - openssl aes-256-cbc -K $encrypted_acf840ecd253_key -iv $encrypted_acf840ecd253_iv -in deploy_key.enc -out deploy_key -d
        - ls -l
      install:
        - eval "$(ssh-agent -s)"
        - chmod 600 ./deploy_key
        - ssh-add ./deploy_key
        - ssh -o "StrictHostKeyChecking no" $var_799cfba7 "$var2 $dir2"
        - npm install
        - cd ios
        - pod install
        - cd ..
      script:
        - ./scripts/travis_build-ios.sh prod $var1 $app_ios_prod
        - git diff > ios_prod.diff
        - scp -o "StrictHostKeyChecking no" ios_prod.diff "$var_799cfba7:$dir2/"
        - ./scripts/travis_build-ios.sh staging $var1 $app_ios_staging
        - git diff > ios_staging.diff
        - scp -o "StrictHostKeyChecking no" ios_staging.diff "$var_799cfba7:$dir2/"
        - ls -laht
      after_success:
        - ls -lahtO
        - ls -lh *zip
        - scp -o "StrictHostKeyChecking no" $app_ios_prod "$var_799cfba7:$dir1"
        - scp -o "StrictHostKeyChecking no" $app_ios_staging "$var_799cfba7:$dir1"
      after_script:
        - pwd
        - ls -lahtO
        - find ios/build/ -type d -maxdepth 5 | grep MobileApp.app
        - scp -o "StrictHostKeyChecking no" $core_sim_log "$var_799cfba7:$dir2/"
        - date
        - "echo \"branch: $TRAVIS_BRANCH\" >> info.txt"
        - "echo \"build dir: $TRAVIS_BUILD_DIR\" >> info.txt"
        - "echo \"commit: $TRAVIS_COMMIT\" >> info.txt"
        - "echo commit message: $msg >> info.txt"
        - "echo; echo >> info.txt"
        - "echo && echo \"Variables:\" && echo >> info.txt"
        - "echo \"------------------------------------------\" >> info.txt"
        - set >> info.txt
        - "echo \"------------------------------------------\" >> info.txt"
        - "echo; echo >> info.txt"
        - "echo -n \"Ending at \" >> info.txt"
        - date >> info.txt
        - df -h >> info.txt
        - scp -o "StrictHostKeyChecking no" info.txt "$var_799cfba7:$dir1/info_ios.txt"
        - curl https://api.travis-ci.com/v3/job/$TRAVIS_JOB_ID/log.txt  -o travis_$TRAVIS_JOB_NUMBER.log
        - scp -o "StrictHostKeyChecking no" travis_$TRAVIS_JOB_NUMBER.log "$var_799cfba7:$dir2"
        - scp -o "StrictHostKeyChecking no" $log_file "$var_799cfba7:$dir1"

    - stage: build android
      os: linux
      dist: xenial
      language: android
      jdk: oraclejdk8
      env: 
        - app_ios_prod=$(tmp="MobileApp_"$TRAVIS_JOB_NUMBER"_"$TRAVIS_BRANCH"_prod.apk" && tmp=${tmp//\//-} && echo $tmp)
        - app_ios_staging=$(tmp="MobileApp_"$TRAVIS_JOB_NUMBER"_"$TRAVIS_BRANCH"_staging.apk" && tmp=${tmp//\//-} && echo $tmp)
        - dir1=$(tmp1=$TRAVIS_BRANCH && tmp1=${tmp1//\//-} && tmp=$var3"/"$tmp1"/"$TRAVIS_BUILD_NUMBER && echo $tmp)
        - dir2=$dir1/logs_android
        - msg=$(cat $TRAVIS_BUILD_DIR/.git/COMMIT_EDITMSG)
      android:
        components:
          - tools
          - platform-tools
          - build-tools-27.0.3
          - android-27
        licenses:
          - 'android-sdk-preview-license-52d11cd2'
          - 'android-sdk-license-.+'
          - 'google-gdk-license-.+'          
      before_install:
        - echo -n "Starting " > info.txt
        - date >> info.txt
        - date
        - openssl aes-256-cbc -K $encrypted_acf840ecd253_key -iv $encrypted_acf840ecd253_iv -in deploy_key.enc -out deploy_key -d
        - which java
        - java -version
        - which adb
        - which -a android
        - ls -l
      install:
        - eval "$(ssh-agent -s)"
        - chmod 600 ./deploy_key
        - ssh-add ./deploy_key
        - ssh -o "StrictHostKeyChecking no" $var_799cfba7 "$var2 $dir2"
        - nvm install 8.14.1
        - npm install
      script:
        - ./scripts/travis_build-android.sh prod $apk_prod
        - git diff > anrdoid_prod.diff
        - scp -o "StrictHostKeyChecking no" anrdoid_prod.diff "$var_799cfba7:$dir2/"
        - ./scripts/travis_build-android.sh staging $apk_staging
        - git diff > anrdoid_staging.diff
        - scp -o "StrictHostKeyChecking no" anrdoid_staging.diff "$var_799cfba7:$dir2/"
      after_success:
        - ls -lh *apk
        - scp -o "StrictHostKeyChecking no" $apk_prod "$var_799cfba7:$dir1"
        - scp -o "StrictHostKeyChecking no" $apk_staging "$var_799cfba7:$dir1"
      after_script:
        - date
        - ls -lahtO
        - find android/app/outputs/apk/ -type f | grep apk
        - date
        - "echo \"branch: $TRAVIS_BRANCH\" >> info.txt"
        - "echo \"build dir: $TRAVIS_BUILD_DIR\" >> info.txt"
        - "echo \"commit: $TRAVIS_COMMIT\" >> info.txt"
        - "echo commit message: $msg >> info.txt"
        - "echo; echo >> info.txt"
        - "echo && echo \"Variables:\" && echo >> info.txt"
        - "echo \"------------------------------------------\" >> info.txt"
        - set >> info.txt
        - "echo \"------------------------------------------\" >> info.txt"
        - "echo; echo >> info.txt"
        - "echo -n \"Ending at \" >> info.txt"
        - date >> info.txt
        - df -h >> info.txt
        - scp -o "StrictHostKeyChecking no" info.txt "$var_799cfba7:$dir1/info_android.txt"
        - curl https://api.travis-ci.com/v3/job/$TRAVIS_JOB_ID/log.txt  -o travis_$TRAVIS_JOB_NUMBER.log
        - scp -o "StrictHostKeyChecking no" travis_$TRAVIS_JOB_NUMBER.log "$var_799cfba7:$dir2"


    - stage: test android env
      os: linux
      dist: xenial
      language: android
      jdk: oraclejdk8
      android:
        components:
          - tools
          - platform-tools
          - build-tools-27.0.3
          - android-27
        licenses:
          - 'android-sdk-preview-license-52d11cd2'
          - 'android-sdk-license-.+'
          - 'google-gdk-license-.+'          
      before_install:
        - echo -n "Starting " > info.txt
        - date >> info.txt
        - date
        - which java
        - java -version
        - which adb
        - which -a android
        - ls -lhat
        - echo message is $msg
        - echo $ANDROID_HOME
        - android list sdk --extended
        - find $ANDROID_HOME | grep sdkmanager
        - echo y | android update sdk --no-ui
      install:
        - nvm install 8.14.1
        - npm install
      script:
        - ./scripts/travis_build-android.sh prod $apk_prod
